<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">



<!-- Defining AOP aspectj proxy -->
<aop:aspectj-autoproxy />

<!-- bean definitions here -->
	
	<bean id="savingAccount" class="com.codestrive.appLogic.SavingAccount" lazy-init="true">
		<constructor-arg value="4%"></constructor-arg>
	</bean>
	<bean id="fixedAccount" class="com.codestrive.appLogic.FixedAccount" lazy-init="true">
		<constructor-arg value="9%"></constructor-arg>
	</bean>
	<bean id="ppfAccount" class="com.codestrive.appLogic.PPFAccount" lazy-init="true">
		<constructor-arg value="7.5%"></constructor-arg>
	</bean>
	
	<bean name="loggingAspect" class="com.codestrive.aspect.xmlConfig.LoggingAspect"></bean>
	
	<aop:config>
		<aop:aspect id="loggingAspect" ref="loggingAspect">
			<aop:before method="firstAdvice" pointcut="execution(public * get*())"/>
			<!-- <aop:before method="arguments" pointcut="args(account)"/> -->
		</aop:aspect>
	</aop:config>

</beans>